@import '../../index.scss';
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $white-f6;
    &--logo{
        max-width: 300px;
    }
    .darkMode-label {
        width: 22px;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
        color: $purple;
        text-decoration: underline;
    }
    .nav-link{
        font-weight: $semibold;
        &:hover{
            color: $purple;
            text-decoration: underline;
        }
    }
    .navbar-toggler{
        border-color: transparent;
    }
    .dropdown-menu{
        border-color: transparent;
        border-radius: 0;background-color: $white-f6;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0;
        &[data-bs-popper]{
            top: 55px;
            margin-top: 0;
        }
        .dropdown-item {
            font-weight: $medium;
        }
        .dropdown-item:focus, .dropdown-item:hover{
            color: $white-f6;
            background-color: $purple;
        }
    }
    .navbar-collapse{
        @media (max-width: $lg) {
            position: absolute;
            background: rgb(246, 246, 246);
            left: 0px;
            right: 0px;
            top: 72px;
        }
    }
}