@import '../../index.scss';
.carrusel{
    .swiper {
        width: 100%;
        height: calc(100vh - 72px);
        background-color: $white-f6;
        .swiper-pagination-bullet{
            background-color: $white-f6;
            border-radius: 0;
            width: 20px;
            height: 3px;
        }
        .swiper-pagination-bullet-active{
            background-color: $white-f6;
        }
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: $white-f6;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carrusel-card{
        position: relative;
        
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
        }
        &--info{
            width: 100%;
            padding: 0 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $white-f6;
            .title{
                font-size: 3.15rem;
                font-family: $tenor;
            }
            .date{
                text-transform: uppercase;
                letter-spacing: .25em;
            }
        }
    }
}