//BOTONES
.button-primary {
    @include btn ($white-f6);
    &--small {
        padding: .834em .75em;
    }
    &--large {
        padding: 1.667em .75em;
    }
    &__disabled {
        background-color: #E6E6E6;
        // box-shadow: 0 0 0 2px inset #969696;
        pointer-events: none;
    }
    &--input {
        padding: 13px .75em;
    }
}